.container {
  margin: auto;
  width: 50%;
  border: 1px solid silver;
  font-family: 'Courier New', Courier, monospace;
}

.headerContainer{
  border-bottom: 1px solid silver;
  background-color: #c0c0c026;
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  padding: 10px;
}

table.authors-with-movies {
  width: 100%;
  font-size: 20px;
}

table tr .item {
  padding: 5px;
}

table tr td .item-fav {
  width: 28px;
  border: 1px solid silver;
  border-radius: 50%;
}

table tr td .item-fav-true {
  background-color: gold;
}

table tr td .item:hover {
  background-color: #c0c0c026;
}

table.authors {
  width: 100%;
}

table.movies {
  width: 100%;
}

table.authors table.movies th {
  font-size: 24px;
}